dm-tree
absl-py
dm-control
typing-extensions
tensorflow_probability==0.15.0
dm-haiku
dm-env
atari-py
optax
rlds
chex
dm-launchpad==0.5.2
rlax
dm-sonnet
numpy
trfl
gym==0.25.0
tensorflow_datasets==4.6.0
flax
bsuite
tensorflow==2.8.0
pygame==2.1.0
dm-reverb==0.7.2
pillow
jax==0.4.3
gym[atari]
jaxlib==0.4.3
